#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "breezewiki"
name = "BreezeWiki"
description.en = "Alternative frontend for Fandom"
description.fr = "Interface alternative pour Fandom"

version = "1.0~ynh4"

maintainers = ["eric-G"]

[upstream]
license = "AGPL-3.0-only"
website = "https://breezewiki.com/"
admindoc = "https://docs.breezewiki.com/index.html"
code = "https://gitdab.com/cadence/breezewiki"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://docs.breezewiki.com/files/breezewiki-dist.tar.gz"
    sha256 = "86ac9fa71b22856eb6fc13ee35be2d4d17ce1a1a3c04fea5f62b61e3424bf2f3"

    #autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
